.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px
  }

  img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
    color: #556B2F;
  }

  a:hover {
    color: #E9967A;
  }

  body {
    background-color: #FFFFF0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  footer {
    margin-top: auto;
    border-top: 1px solid black;
    padding: 20px;
  }

  nav {
    border-bottom: 1px solid black;
    padding: 16px;
  }

  h1 {
    text-align: center;
    color: #800000;
  }

  h2 {
    text-align: center;
    color: #DB7093		;
  }

  .table-ing {
    margin-left: auto;
    margin-right: auto;
  }

  div {
    text-align: center;
  }

  ol {
    text-align: center;
    list-style-position: inside;
  }
